@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}
body {
    font-family: Arial, Helvetica, Verdana, "微軟正黑體";
    padding-top: 82px;
    line-height: 30px;
    margin: 0;
    font-size: 16px;
    position: relative;
    background: #FFF;
    text-align: center;
}
h1, h2 {
    // margin: 0;
}
a {
    display: block;
    text-decoration: none;
}
span {
    display: block;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
input {
    padding: 6px 12px;
}
img {
    vertical-align: top;
    &.bg {
        width: 100%;
        height: auto;
    }
}
::-webkit-input-placeholder {
    font-weight: normal;
}
:-moz-placeholder {
    /* Firefox 18- */
    font-weight: normal;
}
::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: normal;
}
:-ms-input-placeholder {
    font-weight: normal;
}
button {
    padding: 0px;
    border: none;
    background: transparent;
    &:focus {
        outline: 0;
    }
}
input[type=text],
input[type=password],
input[type=submit],
textarea {
    &:focus {
        outline: 0;
    }
}

.grid{
	width: 100%;
	display: table;
	table-layout: fixed;
}
.col{
	display:table-cell;
}

.to_beauty {
    &.show {
       display: block;
    }
    cursor: pointer;
    display: none;
    background: transparent url(../img/top.png) scroll no-repeat 50% 50%;
    width: 125px;
    height: 125px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 10;
}

.navbar {
    background: #57baa2;
    border: none;
    height: 82px;
    margin: 0px;
    .navbar-brand {
        height: 100%;
        display: block;
        &:hover {
            color: #FFF;
        }
    }
    .navbar-nav {
        float: none;
        width: 565px;
        margin: 0 auto;
    }
    .navbar-nav > li {
        padding: 0 15px;
    }
    .navbar-nav > li > a {
        color: #FFF;
        padding: 0;
        line-height: 1.8;
        &:hover {
            color: #FFF;
            border-bottom: 2px solid #FFF;
        }
    }
    .navbar-nav > li.active > a {
        color: #FFF;
        padding: 0;
        border-bottom: 2px solid #FFF;
        background: transparent;
        &:hover {
            background: transparent;
            color: #FFF;
        }
    }
}
.navbar-collapse{
    background: #57baa2;
    border: none;
    padding: 30px 0 0 0;
}
.navbar-toggle {
    margin-right: 20px;
    margin-top: 22px;
}

#contact {
    background: #57baa2;
    color: #FFF;
}

#case, #media {
    background: #9ad6c5;
}

.owl-theme .owl-controls {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    .owl-page {
        &.active span {
            background: #FFF;
        }
        span {
            background: #888;
        }
    }
}

.marquee {
  max-width: 915px;
  overflow: hidden;
  a {
    display: inline-block;
    color: #388772;
    text-decoration: none;
    font-size: 18px;
    margin-right: 60px;
    &:hover {
        text-decoration: none;
        color: #2e2e2e;
    }
  }
}
.pc-marquee {
    display: block;
    margin: 25px auto;
}
.mobile-marquee {
    display: none;
    margin: 10px auto;
}

span.link-down {
  text-align:center;
  font-size: 2em;
  i{
    color: #333;
    cursor:pointer;
  }
}

.main-cocontainer {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
}
#photo-carasoul {
    img {
        max-width: 100%;
        height: auto;
    }
}
.block {
    width: 100%;
    padding: 40px 0 50px 0;
    margin: 0 auto;
    &.no-padding {
        padding: 0px;
    }
    .title-image {
        margin: 0 auto;
        width: 20vw;
        height: auto;
    }
    h2 {
    	font-weight: bold;
    	font-size: 2.5em;
    	margin: 0px auto !important;
        color: transparent;
        min-height: 53px;
        background-size: 20% auto;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 50% 50%;
    }
    .beauty {
        margin: 0 auto;
        width: 95%;
        min-height: 2000px;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
    .content {
        width: 90%;
        margin: 0 auto;
        p {
        	text-align: left;
        	line-height: 1.8em;
        	margin: 5px 0;
        	&.q {
        		font-weight: bold;
                color: #666;
        	}
            &.center {
                text-align: center;
                margin: 20px 0;
            }
        }
        span {
        	&.title {
        		font-size: 1.5em;
        		font-weight: bold;
        		margin: 10px 0;
        	}
        	&.highlight {
        		display: inline-block;
        		color: red;
        	}
        }
        .more-btn{
            &.white {
                background: #FFF;
                color: #9ad6c5;
                &:hover {
                    background: #57baa2;
                    color: #FFF;
                }
            }
            &.green {
                background: #9ad6c5;
                color: #FFF;
                &:hover {
                    background: #FFF;
                    color: #57baa2;
                }
            }
            border: none;
            border-radius: 0px;
            font-weight: bold;
            margin: 3% auto 0 auto;
        }
        img {
            max-height: 65vh;
            max-width: 100%;
            &.bg {
                width: 100%;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        a{
            &.inline {
        	   display: inline;
            }
            &.line {
                background: transparent url(../img/line.png) scroll no-repeat 50% 50%;
                background-size: 40px;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                vertical-align: top;
                color: #FFF;
                span {
                    display: block;
                }
            }
            &.fb {
                background: transparent url(../img/facebook.png) scroll no-repeat 0px 50%;
                background-size: 40px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                vertical-align: top;
            }
            &:hover {
                text-decoration: none;
            }
        }
        .post-list {
            padding-top: 30px;
            display: flex;
            display: -mx-flexbox;
            display: -webkit-flex;
            flex-grow: 0;
            -ms-flex-grow: 0;
            -webkit-flex-grow: 0;
            flex-wrap: wrap;
        	.post {
                display: none;
        		width: 23%;
        		margin-right: 2%;
                margin-top: 2%;
        		vertical-align: top;
                text-align: left;
                line-height: 1.5em;

                .item {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    padding-bottom: 5px;
                    .cover {
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: absolute;
                        z-index: 9;
                        background: rgba(0,0,0, 0);
                        transition: background-color 0.2s ease-out;
                    }
                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        -webkit-transition: transform 0.4s linear;
                        -moz-transition: transform 0.4s linear;
                        -ms-transition: transform 0.4s linear;
                        transition: transform 0.4s linear;
                    }
                }
        		span {
                    color: #2e2e2e;
                    font-size: 16px;
                    line-height: 20px;
                    &.date {
                        color: #FFF;
                        font-size: 14px;
                        display: inline-block;
                        width: 40%;
                        text-align: right;
                        padding: 0 5px 0 0;
                        vertical-align: middle;
                    }
                    &.bdate {
                        color: #b4b4b5;
                        font-size: 14px;
                        display: inline-block;
                        width: 40%;
                        text-align: right;
                        padding: 0 5px 0 0;
                        vertical-align: middle;
                    }
                    &.title {
                        font-size: 20px;
                        font-weight: bold;
                        color: #895647;
                        margin: 0px;
                        padding: 0 5px;
                    }
                    &.media {
                        font-size: 16px;
                        color: #2e2e2e;
                        width: 60%;
                        display: inline-block;
                        font-weight: bold;
                        padding: 0 0 0 5px;
                        margin: 0px;
                        vertical-align: middle;
                    }
                    &.summary {
                        color: #595757;
                        padding: 0 5px;
                    }
                }
        		a {
        			display: inline-block;
                    &:hover {
                        .item {
                            .cover {
                                background: rgba(0,0,0, .3);
                                transition: background-color 0.2s ease-out;
                            }
                            img {
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                transform: scale(1.1);

                                -webkit-filter: saturate(1.1);
                            }
                        }
                    }
        		}
        		&:nth-child(4n) {
        			margin-right: 0px;
        		}
                &.show-post {
                    display: inline-block;
                }
        	}
        	&::after {
		        content: '';
		        display: block;
		        clear: both;
		    }
        }
    }
}

@media only screen and (max-width: 667px) {
    body {
        padding-top: 74px;
    }
    .to_beauty {
        width: 85px;
        height: 85px;
        background-size: 100% auto;
        right: 10px;
        bottom: 20px;
    }
    .navbar {
        height: auto;
    }
    .navbar-default {
        padding: 5px 0 0 0;
    }
    .navbar-header {
       .navbar-toggle {
            margin-right: 38px;
            border: none;
            &:hover {
                background: transparent;
            }
            .icon-bar {
                background-color: #FFF;
            }
        }
    }
    .marquee a {
        font-size: 12px;
    }
    .pc-marquee {
        display: none;
    }
    .mobile-marquee {
        display: block;
    }
    span.link-down {
        padding-top: 10px;
        font-size: 1.5em;
        i {
            color: #FFF;
        }
    }
    .navbar {
        .navbar-nav {
            width: 100%;
            li {
                width: 100%;
                padding: 5px 0;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    .block {
        &.no-padding {
            padding: 0px;
        }
        padding: 25px 0;
        width: 100%;

        .title-image {
            width: 35vw;
        }
        h2 {
            font-size: 2.0em;
            margin: 20px auto 0 auto !important;
            min-height: 35px;
            background-size: contain;
        }
        .beauty {
            max-width: 95vw;
        }
        .content {
            margin: 15px auto;
            width: 100%;
            p {
                line-height: 1.8em;
                margin: 5px 0;
                &.center {
                    margin: 50px 0;
                }
            }
            span {
                &.title {
                    font-size: 1.2em;
                    margin: 10px 0;
                }
            }
            img {
                width: 100%;
                height: auto;
            }
            .post-list {
                .post {
                    width: 50%;
                    margin: 0 0 18px 0;
                    span {
                        font-size: 12px;
                        line-height: 14px;
                        padding: 0 10px;
                        &.date {
                            font-size: 11px;
                            color: #FFF;
                        }
                        &.bdate {
                            font-size: 11px;
                        }
                        &.title {
                            font-size: 13px;
                            margin: 0px;
                        }
                        &.media {
                            font-size: 11px;
                            color: #2e2e2e;
                        }
                    }
                    &:nth-child(2n) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}