@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}
body {
    font-family: Arial, Helvetica, Verdana, "微軟正黑體";
    padding-top: 50px;
    line-height: 30px;
    margin: 0;
    font-size: 16px;
    position: relative;
    background: #FFF;
    text-align: center;
}
h1, h2 {
    // margin: 0;
}
a {
    display: block;
    text-decoration: none;
}
span {
    display: block;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
input {
    padding: 6px 12px;
}
img {
    vertical-align: top;
}
::-webkit-input-placeholder {
    font-weight: normal;
}
:-moz-placeholder {
    /* Firefox 18- */
    font-weight: normal;
}
::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: normal;
}
:-ms-input-placeholder {
    font-weight: normal;
}
button {
    padding: 0px;
    border: none;
    background: transparent;
    &:focus {
        outline: 0;
    }
}
input[type=text],
input[type=password],
input[type=submit],
textarea {
    &:focus {
        outline: 0;
    }
}

.grid{
	width: 100%;
	display: table;
	table-layout: fixed;
}
.col{
	display:table-cell;
}


.navbar {
    background: #E1EAE5;
    border: none;
    .navbar-nav > li.active > a {
        background: #FFF;
        color: #000;
    }
}

#carasoul, #contact{
    background: #E1EAE5;
}
#case, #media, #activity {
    background: #Adc4b0;
}

span.link-down{
  text-align:center;
  font-size: 3em;
  i{
    color: #333;
    cursor:pointer;
  }
}

.main-cocontainer {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
}
#photo-carasoul {
    img {
        max-width: 100%;
        height: auto;
    }
}
.block {
    width: 90%;
    margin: 0 auto;
    padding: 35px 0;
    h2 {
    	font-weight: bold;
    	font-size: 2.5em;
    	margin: 20px 0;
        // border-bottom: 5px solid #E1EAE5;
        // display: inline-block;
        // padding-bottom: 5px;
    }
    .content {
        width: 90%;
        margin: 25px auto;
        p {
        	text-align: left;
        	line-height: 1.8em;
        	margin: 5px 0;
        	&.q {
        		font-weight: bold;
                color: #666;
        	}
            &.center {
                text-align: center;
            }
        }
        span {
        	&.title {
        		font-size: 1.5em;
        		font-weight: bold;
        		margin: 10px 0;
        	}
        	&.highlight {
        		display: inline-block;
        		color: red;
        	}
        }
        img {
        	width: 100%;
        	height: auto;
        }
        a{
            &.inline {
        	   display: inline;
            }
            &.fb-msg {
                display: inline-block;
                border-radius: 20px;
                padding: 8px 10px;
                color: white;
                background: #3B5998;
            }
            &.line {
                background: transparent url(../img/LINE_Icon.png) scroll no-repeat 0px 50%;
                background-size: 28px;
                text-indent: 32px;
                display: inline-block;
            }
        }
        .post-list {
        	.post {
        		width: 31%; 
        		display: inline-block;
        		margin-right: 2%;
        		vertical-align: top;
        		span {
        			font-weight: bold;
        		}
        		a {
        			display: inline-block;
        		}
        		&:nth-child(3n) {
        			margin-right: 0px;
        		}
        	}
        	&::after {
		        content: '';
		        display: block;
		        clear: both;
		    }
        }
    }
}

@media only screen and (max-width: 667px) {
    .block {
        padding: 25px 0;
        h2 {
            font-size: 2.0em;
            margin: 15px 0;
        }
        .content {
            margin: 15px auto;
            p {
                line-height: 1.8em;
                margin: 5px 0;
            }
            span {
                &.title {
                    font-size: 1.2em;
                    margin: 10px 0;
                }
            }
            .post-list {
                .post {
                    width: 48%; 
                    margin-right: 2%;
                    &:nth-child(3n) {
                        margin-right: 2%;
                    }
                    &:nth-child(2n) {
                        margin-right: 0px;
                    }
                }
            }
        }
    } 
}